[submodule ".provisioning/roles/nginx"]
	path = .provisioning/roles/nginx
	url = https://github.com/savoirfairelinux/ansible-nginx
[submodule ".provisioning/roles/common"]
	path = .provisioning/roles/common
	url = https://github.com/ellmetha/ansible-do-common
[submodule ".provisioning/roles/postgres-install"]
	path = .provisioning/roles/postgres-install
	url = https://github.com/savoirfairelinux/ansible-postgres-install
[submodule ".provisioning/roles/acme-nginx"]
	path = .provisioning/roles/acme-nginx
	url = https://github.com/hsoft/ansible-acme-nginx
[submodule ".provisioning/roles/django"]
	path = .provisioning/roles/django
	url = https://github.com/ellmetha/ansible-do-django
