[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
isort = "*"

[packages]
django-machina = "*"
django-haystack = "*"
psycopg2 = "*"
django-recaptcha = "*"
Django = "*"
Whoosh = "*"
