[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
isort = "*"

[packages]
django-machina = "*"
django-haystack = "*"
django-recaptcha = "*"
Django = "*"
Whoosh = "*"
"psycopg2" = "*"
